#navabar ul{
    list-style-type: none;
    margin: 0;
    padding:0
}
#navbar li{
    display:inline;
    padding-left: 5px;
    padding-right:5px;
    padding-top:5px;
}

.navbar-element {
  display:inline;
  padding:5px;
  border-radius:1px;
}
.navbar-element:hover {
  background-color:grey;
}

#nav-container {
  font-size: 80%;
  background-color:#696969;
  color:white;
}

#nav-container a {
  color:white;
}